{% extends 'base.html' %}


{% block content %}
    <h1>Delete Recipe: {{ recipe.title }}</h1>
    <p>{{ recipe.body|safe }}</p>
    <p>Author: {{ recipe.author }}</p>
    <p>Created at: {{ recipe.created_at }}</p>
    <p>Slug: {{ recipe.slug }}</p>
    <p>pk: {{ recipe.pk }}</p>
    <form action="" method="POST">{% csrf_token %}
        <h4>Are you sure you want to delete "{{ recipe.title }}"?</h4>
        <input class="btn btn-danger" type="submit" value="Confirm" />
        <a href="{% url 'recipe-detail' recipe.pk recipe.slug %}" class="btn btn-warning">Cancel</a>
    </form>
{% endblock content %}