{% extends 'base.html' %}


{% block content %}
    <h1>Recipes</h1>
        {% for recipe in object_list %}
            <div class="recipe-entry">
                {% if recipe.published == False %}
                <h4 class="bg-warning p-1">This recipe is not published.</h4>
                {% endif %}
                <h2><a href="{% url 'recipe-detail' recipe.pk recipe.slug %}">{{ recipe.title }}</a></h2>
                <p>{{ recipe.body|truncatewords_html:50|safe }}</p>
            </div>
        {% endfor %}
{% endblock content %}
    