html,
body{
    color: rgb(200, 200, 200);
    background-color: midnightblue;
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
    margin: 0;
}

/*////////////////////*/

.hamburger, .is-active{ /* fixes issue with bootstrap navbar and hamburger */
    padding: inherit;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background-color: rgba(240, 40, 40, 0.75);
}
.colorToggle{
    background-color: rgb(25, 25, 112, 0.99);
}
.navbar{
    background-color: none;
    transition: background 300ms;
}
/* .navbar.scrolled{
    background-color: rgb(25, 25, 112);
    transition: background 300ms;
} */

/*////////////////////*/

.pigLogo{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    left: 50px;
}
.nav-item a{
    color: rgba(239,59,0,0.93);
}
main{
    background-color: midnightblue;
}
section.cover{
    background: radial-gradient(rgba(200, 50, 50, 0.50), rgba(175, 50, 50, 0.60), rgba(77, 45, 122, 0.70), rgba(77, 45, 175, 0.75)),
        /* url("https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80"); */
        url('/static/images/wood.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
}
h1.headline{
    font-family: 'League Script', cursive;
    font-size: 86px;
    font-weight: bold;
    color: rgba(255, 125 ,125 ,0.99);
    text-shadow: 7px -7px 10px rgba(100,25,0,0.9),
                 5px -5px 20px rgba(155,25,0,0.93),
                 1px -1px 30px rgb(255, 105, 180),
                 5px -5px 40px rgb(100, 50, 232);
    opacity: 0.8;
}
section.content{
    background-color: darkslateblue;
    min-height: 100vh;
    /* margin-bottom: 5em; */
}
section.content h1{
    padding: 1.5em 1em 0.5em 1em;
    /* padding-top: 1.5em; */
}
footer section.content{
    background-color: rgba(72, 61, 139, 0.50);
}

/*////////////////////*/

.scroll{
    position: fixed;
    bottom: 20px;
    right: 20px;
	display: none;
}
.scroll > a{
    border-radius: 10px;
	text-decoration: none;
	font-size: 2.05em;
	background-color: rgba(0,0,0,0.15);
	color: rgba(150, 132, 184, 0.55);
	display: block;
	text-align: center;
    height: 50px;
    width: 50px;
}
.scroll > a:hover{
	background-color: rgba(0,0,0,0.35);
	color: rgba(150, 132, 184, 0.75);
}

/*////////////////////*/

/* Extra small devices portrait */
@media only screen and (max-width: 325px) and (orientation: portrait) {
    h1.headline{
        font-size: 68px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 400px) {
    h1.headline{
        font-size: 86px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1.headline{
        font-size: 100px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1.headline{
        font-size: 176px;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape){
    h1.headline{
        font-size: 126px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1.headline{
        font-size: 200px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}