{% extends 'base.html' %}


{% block main_content %}

    <section class="container content">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae nemo suscipit, aut dolorem amet qui sapiente doloribus culpa nesciunt corrupti asperiores, perferendis, hic pariatur cum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quis cupiditate nesciunt. Dolores, quod hic.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia mollitia quisquam nihil laudantium dolores numquam eligendi eos aspernatur incidunt at.</p>
    </section>

{% endblock main_content %}
    
