{% extends 'base.html' %}


{% block main_content %}
    
<div class="parallax-wrapper">

    <section class="cover">
        <h1 class="headline">Mike's</h1>
        <h1 class="headline">Barbecue</h1>
    </section>
</div>

<div class="regular-wrapper">

    <section class="container parallax-content">
        <h1>Mike's Barbecue</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque nihil omnis laudantium asperiores. Impedit, cumque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel enim ipsa dignissimos voluptatibus nam mollitia voluptates veritatis dolores repellat illum, unde quia cum omnis voluptas.</p>
    </section>
</div>

<div class="parallax-wrapper">

    <section class="container parallax-content">
        <h1>Mike's Barbecue</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque nihil omnis laudantium asperiores. Impedit,
            cumque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel enim ipsa dignissimos voluptatibus nam mollitia
            voluptates veritatis dolores repellat illum, unde quia cum omnis voluptas.</p>
    </section>
</div>

<div class="regular-wrapper">

    <section class="container parallax-content">
        <h1>Mike's Barbecue</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque nihil omnis laudantium asperiores. Impedit,
            cumque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel enim ipsa dignissimos voluptatibus nam mollitia
            voluptates veritatis dolores repellat illum, unde quia cum omnis voluptas.</p>
    </section>
</div>

{% endblock main_content %}
    